[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  a = add
  hs = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[user]
	name = Sangboak Lee
	email = echo3042@gmail.com
[core]
	autocrlf = false
	safecrlf = true
	editor = vim
	excludesfile = /Users/SB/.global_ignore
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/SB/.stCommitMsg
